
@use "../base/variable" as *;

.footer{
     padding: 30px 0;
  background: #f8f8f8;

    .container{
        display: flex;
    align-items: center;
    justify-content: space-between;
    // padding-right: 185px;
    // padding-left: auto;
    }

    &__link{
        display: flex;
        align-items: center;
        gap: 10px;
    text-decoration: none;
    color: #000;
    }

     &__logo {
   width: 80px;
    height: auto;
  }

  &__list {
    display: flex;
    flex-direction: column;
    font-family: "Montserrat Alternates", sans-serif;
  }

  &__coding{
    font-size: 18px;
    font-weight: 600;
  }

  &__magic{
    font-size: 22px;
    font-weight: 300;
  }

  &__contact {
    // margin-left: 230px;
    // margin-right: 230px;
    display: flex;
    flex-direction: column;
  }

   &__item {
    font-size: 12px;
    
    font-family: "Montserrat Alternates";
    a {
      color: #000;
    }
  }


   &__subscribe {
    display: flex;
    // flex-wrap: wrap ;
    flex-direction: column;
    margin-top: 36px;
    margin-bottom: 4px;
    // max-width: 220px;
  }


  &__input {
    padding: 8px 10px;
    border-radius: 20px;
    border: 1px solid #ccc;
    margin-right: 36px;
    margin-bottom: 18px;
  }


  &__btn {
    padding: 8px;
    border-radius: 20px;
    border: none;
    background: #000;
    color: #fff;
    cursor: pointer;
    margin-bottom: 18px;
  }

  &__note {
    color: #555;
    font-family: "Montserrat Alternates";
    font-size: 8px;
font-weight: 400;
  }

}
