
@use "../base/variable" as *;

.football-section {
    text-align: center;
        #football-field {
            width: 600px;
            height: 300px;
            border: 2px solid black;
            margin: 20px auto;
            position: relative;
            background-color: #5ABB58;
            border-radius: 25px;

            #ball {
                width: 50px;
                height: 50px;
                background: url("https://upload.wikimedia.org/wikipedia/commons/d/d3/Soccerball.svg");
                position: absolute;
                background-size: cover;
                top: 120px;
                left: 100px;
                transform: translate(-50%, -50%);
            }

            #goal {
                outline: 2px dashed #7E7E7E;
                background-color: #D7D7D7;
                width: 45px;
                height: 105px;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                border-radius: 20px 0 0 20px;

                &:last-child {
                    right: 0;
                    border-radius: 0 20px 20px 0;
                }
            }
        }
    }
