
@use "../base/variable" as *;

.dino {
  text-align: center;
  padding-bottom: 36px;

  .container {
    // padding: 36px 0;
    position: relative;
  }

  &__border {
    height: 1.5px;
    background-color: black;
    width: 550px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
  }

  &__title {
    margin-top: 36px;
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 28px;
    font-weight: 600;
    text-align: center;
  }

  &__text {
    margin-top: 15px;
    font-size: 12px;
    color: #039900;
  }

  &__start {
    margin-top: 15px;
    padding: 10px 20px;
    border-radius: 20px;
    font-family: "Montserrat Alternates";
    font-size: 12px;
    color: #fff;
    background-color: #000;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #222;
    }
  }

  &__game {
    animation: moveMain 2s linear infinite;
    z-index: 1;
    position: relative;
    margin: 0 auto;
    width: 720px;
    height: 241px;
    background-image: url(../img/dino.png);
    background-repeat: repeat-x;
    background-position: bottom;
    background-size: 420px 10px;
    overflow: hidden;

    &.ground-animate {
      animation: groundMove 2s linear infinite;
    }
  }
  &__dino {
    width: 44px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: 50px;

  background-image: url("../img/dino-black.png.png");
  background-repeat: no-repeat;
  background-size: contain;

    &.jump {
      animation: jump 0.65s linear;
    }
  }
  &__cactus {
    width: 17px;
  height: 35px;
  position: absolute;
  bottom: 0;
  right: -40px;

  background-image: url("../img/cactus-black.png.png");
  background-repeat: no-repeat;
  background-size: contain;
  }
  &__points {
    position: absolute;
    left: 70%;
    top: 100px;
    color: #535353;
    font-size: 14px;
    font-family: 'Press Start 2P';
    font-weight: 400;
  }
}



@keyframes groundMove {
  0% {
    background-position-x: 0;
  }

  100% {
    background-position-x: -720px;
  }
}

@keyframes jump {
  0% {
    bottom: 10px;
  }

  20% {
    bottom: 60px;
  }

  40% {
    bottom: 100px;
  }

  60% {
    bottom: 120px;
  }

  80% {
    bottom: 60px;
  }

  100% {
    bottom: 10px;
  }
}

@keyframes cactusMove {
  0% {
    right: -50px;
  }

  100% {
    right: 720px;
  }
}

.dino__points .blink {
  animation: blink 0.3s steps(1) 2;
}

@keyframes blink {

  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}
