
@use "../base/variable" as *;

.guessnumbers {
  
    // padding-top: 66px;
    

    &__title {
        color: #000;
        font-family: "Montserrat Alternates";
        font-weight: 400;
        font-size: 16px;
        position: relative;
          text-align: center;
        &::after {
            content: '';
            position: absolute;
            left: 50%;
            top: 175px;
            transform: translateX(-50%);
            width: 536px;
            height: 1px;
            background-color: #000;
        }
    }

    &__boks {
        display: flex;
        align-items: center;
        justify-content: space-around;
        // gap: 202px;
        margin-top: 36px;
        
        // margin-top: auto;
    }

    &__input-wrap {
        position: relative;
        display: flex;
        align-items: center;
    }

    &__input {
        width: 150px;
        height: 30px;
        padding: 9px 45px 9px 12px; 
        border-radius: 20px;
        background: #D7D7D7;
        border: none;
        box-shadow: 0 8px 25px rgba(70, 70, 70, 0.4);
        font-family: "Montserrat Alternates";
        outline: none;

        &::placeholder {
            color: #7E7E7E;
            font-weight: 400;
        }
    }

    &__btn {
        position: absolute;
        right: -3px;
        width: 48px;
        // left: 207px;
        bottom: 6px;
        height: 48px;
        border: none;
        background: #000;
        border-radius: 0 30px 30px 0;
        display: flex;
        align-items: center;
        justify-content: center;
        top: -0.1px;
    }

    &__img {
        width: 100%;
        // pointer-events: none; 
    }

    &__text {
        margin: 0;
        font-family: "Montserrat Alternates";
        font-weight: 400;
        color: green;
        text-align: center;
        // margin-left: 202px;
    }
}
