
.header-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.9);

    &__overlay {
        width: 576px;
        height: 335px;
        background: white;
        border-radius: 20px;
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center; 
    }

    &__hellow {
        text-align: center; 
        width: 490px;
        height: 60px;

    }

  
    &__decoret {
        width: 30.0px;
        height: 30.0px;
        position: absolute;

        &--top-left {
            top: 154px;
            left: 41px;
        }

        &--top-right {
            top: 154px;
            right: 41px;
        }

        &--bottom-left {
            bottom: 56px;
            left: 85px;
        }

        &--bottom-right {
            bottom: 56px;
            right: 85px;
        }
    }

    &__title {
        display: flex;
        justify-content: center;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
        display: flex;
        // margin-top: 46px;
    }

    &__img {
        width: 15px;
        height: 15px;
        position: absolute;
        top: 30px;
        right: 30px;
        cursor: pointer;
    }

    &__form {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    &__label {
        margin-top: 42px;
        margin-bottom: 18px;
        color: #000;
        text-align: center;
        font-family: Inter;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: normal;
    }

    &__input {
        border-radius: 20px;
        background: #D7D7D7;
        border: none;
        width: 120.0px;
        height: 25.0px;
        padding: 10px 90px 10px 10px;
        transition: all 0.3s ease;

        &::placeholder {
            color: #7E7E7E;
            font-family: "Montserrat Alternates";
            font-weight: 400;
        }
    }

    &__btn {
        margin-top: 36px;
        color: #FFF;
        font-family: "Montserrat Alternates";
        font-size: 13px;
        font-weight: 400;
        padding: 10px 20px;
        // gap: 10px;
        border-radius: 20px;
        background: #000;
        width: 182.0px;
        height: 40.0px;
        box-shadow: 5px 5px 16px rgba(0, 0, 0, 0.38);




    }

    &__box {
        display: flex;
        justify-content: space-between;
    }
}
