
@use "../base/variable" as *;


body{
  background-image: url(../img/fon.png);
 background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.header {
  background-color: white;
  border-bottom: 1px solid #e0e0e0;
  padding-top: 21px;

  .container {
    display: flex;
    align-items: center;
   
  }

  &__link {
    display: flex;
    align-items: center;
    gap: 9px;
    text-decoration: none;
  }

  &__logo {
    width: 50px;
    height: 50px;
    margin-right: 9px;

  }

  &__list {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    list-style: none;
    line-height: 1.2;
  }

  &__coding {
    font-family: "Montserrat Alternates";
    font-size: 14px;
    font-weight: 600;
    color: #000;
    margin: 0;
  }

  &__magic {
    font-size: 16px;
    font-weight: 400;
    color: #000;
    margin: 0;
  }

  &__img-coding-magic{
    width: 44px;
    height: 35px;

  }

  .nav {
    &__list {
      display: flex;
      gap: 40px;
      margin: 0;
      padding: 0;
      list-style: none;
      margin-left: 81px;
    }

    &__item {
      & .link {
       
        color: #000;
        // border-radius: 20px;
        transition: all 0.3s ease;       
        font-family: "Montserrat Alternates";
        font-size: 14px;
        font-weight: 400;
        line-height: normal;

        &:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }

  .hellow {
    display: flex;
    align-items: center;
    gap: 51px;
    margin-left: auto;

    &__text {
      font-family: "Montserrat Alternates";
      font-size: 12px;
      color: #000;
      margin: 0;
    }

    &__input {
      display: none;
    }

    &__label {
      display: flex;
      align-items: center;
      border: 2px solid #e0e0e0;
      border-radius: 50px;
      cursor: pointer;
      background: #7A7A7A;
      gap: 8px;
    }

     &__sun {
    width: 18px;
    height: 18px;
    background-color: #fff;
    border: 2px solid #000;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 3px;
  }

      &__monthn {
    width: 18px;
    height: 18px;
    opacity: 0;
    background-color: black;
    border: 2px solid #000;
    border-radius: 50%;
    box-sizing: content-box;
    padding: 3px;
  }


    // #hellow__btn {
    //   &:checked {
    //     & ~ .hellow__label {
    //       & .hellow__sun {
    //         opacity: 0;
    //         transform: rotate(90deg);
    //       }

    //       & .hellow__monthn {
    //         opacity: 1;
    //         transform: rotate(0deg);
    //       }
    //     }
    //   }
    // }

    
  }
 
} 
.active{
    background-color: gray;
  }

//   body.active p {
//   color: #fff;
// }

body.active {
    .container {
        background-color: gray; 
    }
    
    
    .link {
        color: #ffffff;
    }
}
