
@use '../base/variable' as *;

.ourteam-section {
    text-align: center;
  .slider {
    width: 450px;
    height: 250px;
    margin: 20px auto;
    position: relative;
    overflow: hidden;
    border: 2px solid black;
    box-sizing: border-box;

    .slides {
      width: 100%;
      display: flex;
      transition: transform 0.5s ease-in-out;
      height: 100%;

      .slide {
        height: 100%;
        flex: 0 0 100%;

        img {
          width: 100%;
          height: 80%;
          object-fit: cover;
          display: block;
        }
      }
    }

    .arrow {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      font-size: 30px;
      color: black;
    //   background: rgba(255, 255, 255, 0.7);
      padding: 5px 10px;
      cursor: pointer;
      user-select: none;
      z-index: 105;
    }

    #prev {
      left: 5px;
    }

    #next {
      right: 5px;
    }
  }
}
