
@use "../base/variable" as *;

.popular__games {
  // padding-top: 60px;
  
  

  &__box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  &__title {
    width: 386px;
    color: #000;
    font-family: "Montserrat Alternates";
    font-size: 24px;
    font-weight: 400;
    position: relative;
    padding-bottom: 36px;
    
    margin: 0;

    &::after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 50%;
      transform: translateX(-50%);
      width: 536px;
      height: 1px;
      background-color: #000;
    }
  }

  
}
