
@use '../base/variable' as *;

.threenumber-section {
  
margin-left: auto;
margin-right: auto;
text-align: center;
  height: 32vh;
  background-color: white;
  width: 1100px;
}

.threenumber-content{
    display: flex;
  justify-content: center;
  gap: 30px;
}

.input-one{
  width: 200px;
  height: 51px;
  border-radius: 25px;
  border: 1px solid grey;
  padding-left: 20px;
}