.container {
    max-width: 1100px;
    margin: 0 auto;
    padding: 0 8px;
    // outline: 1px solid rgb(255, 0, 0);
    line-height: 3;
    // transition: background-color 0.3s ease;
    background-color: #fff;
}