@use "./base/reset";
@use "./base/container";
@use "./base/variable";
@use "./base/common";
@use "./section/header";
@use "./section/populargames";
@use "./section/years";
@use "./section/guessnumbers";
@use "./section/papers";
@use "./section/calculator";
@use "./section/calculatetime";
@use "./section/googledino";
@use "./section/football";
@use "./section/threenumber";
@use "./section/ourtime";
@use "./section/choose";
@use "./section/footer";
@use "./section/header-modal";
@use "./section/footer-modal";