
<section class="calculator">
    <div class="container">
        <h1 class="calculator__title theme-text">Калькулятор</h1>

     <div class="calculator__content">
    <input type="text" class="calculator__input calculator__input--first" placeholder="Введіть перше число">

    <div class="calculator__box calculator__box--first">
    <img src="./img/plus.png" alt="plus" class="calculator__img">
    <img src="./img/minus.png" alt="minus" class="calculator__img">
      </div>
      <div class="calculator__box calculator__box--second">
     <img src="./img/multiplication.png" alt="multiplication" class="calculator__img">
    <img src="./img/share.png" alt="share" class="calculator__img">
  </div>

   <input type="text" class="calculator__input calculator__input--second" placeholder="Введіть друге число">
    
    <img src="./img/will-be.png" alt="will-be" class="calculator__img">
    
    <input type="text" class="calculator__input calculator__input--result" placeholder="Результат">
</div>

    </div>
</section>
