
<section class="choose">
  <div class="container">
    <h2 class="choose__title theme-text ">Обери вченого/их</h2>
    <ul class="choose__list"></ul>
    <ul class="choose__items">
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="19st">
          отримати масив вчених що народилися в 19 ст
        </button>
      </li>
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="someYears">
          знайти суму років скільки прожили всі вченні
        </button>
      </li>
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="alphabet">
          Відсортувати вчених по алфавіту
        </button>
      </li>
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="agePast">
          Відсортувати вчених по кількості прожитих років
        </button>
      </li>
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="youngest">
          Знайти вченого який народився найпізніше
        </button>
      </li>
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="albert">
          Знайти рік народження Albert Einstein
        </button>
      </li>
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="letterC">
          знайти вчених прізвище яких починається на літеру С
        </button>
      </li>
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="findOLd">
          Знайти вченого який прожив найбільше і вченого який прожив найменьше
        </button>
      </li>
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="sameName">
          Знайти вчених в яких співпадають перші літери імені і прізвища
        </button>
      </li>
      <li class="choose__elem">
        <button type="button" class="choose__btn" data-action="work19st">
          Дізнатися чи всі вченні працювали в 19 столітті
        </button>
      </li>
    </ul>
  </div>
</section>
