
<div class="modal" id="modal">
  <div class="modal__content">

    <button class="modal__close" id="closeModal">✕</button>

    <div class="modal__icons">
      <img src="./img/sword.png" alt="" class="modal__icon">
      <img src="./img/game-development.png" alt="" class="modal__icon">
      <img src="./img/puzzle.png" alt="" class="modal__icon">
      <img src="./img/tic-tac-toe.png" alt="" class="modal__icon">
    </div>

    <h2 class="modal__title">Дякую за підписку!</h2>

  </div>
</div>
