
<section>
    <footer class="footer">
    <div class="container">
        <a href="" class="footer__link">
        <img src="./img/logo.png" alt="" class="footer__logo">
        <ul class="footer__list">
            <h2 class="footer__coding">Coding</h2>
            <h3 class="footer__magic">Magic</h3>
        </ul>
        </a>
        
        <ul class="footer__contact"> 
            <li class="footer__item">
                <a href="mailto:codingmagic@gmail.com" class="footer__email">E-Mail: codingmagic@gmail.com</a>
            </li>
             <li class="footer__item">
                <a href="tel:+381234567890" class="footer__phone">Тел: +38 (123) 456 78 90</a>
            </li>
            <li class="footer__item">
                <a href="#">Facebook: CodingMagic</a>
            </li>
            <li class="footer__item">
                <a href="#">Twitter: CodingMagic</a>
            </li>
            <li class="footer__item">
                <a href="#">Instagram: CodingMagic</a>
            </li>
        </ul>
        <div class="footer__subscribe">
            <div>
            <input type="email" placeholder="Ваша ел. адреса..." class="footer__input">
            <button class="footer__btn" id="subscribeBtn">Підписатись</button>
            </div>
            <p class="footer__note">*Підписавшись, Ви зможете ортимувати інформаццію про новинки на сайті</p>
        </div>
    </div>
    </footer>
</section>
