
<section class="guessnumbers">
    <div class="container">

        <h1 class="guessnumbers__title theme-text"> Вгадай число, яке загадав комп’ютер</h1>

        <div class="guessnumbers__boks">

            <div class="guessnumbers__input-wrap">
                <input type="text" placeholder="Введіть число" class="guessnumbers__input">
                <button class="guessnumbers__btn" type="button">
                    <img src="./img/find.svg" class="guessnumbers__img" alt="Пошук"
                    >
                </button>
            </div>


            <p class="guessnumbers__text"> Вітаю, ви вгадали число! (number)</p>

        </div>

    </div>
</section>
