
    <section class="header-modal">
        <div class="header-modal__overlay">


            <img src="./img/x.png" alt="X" class="header-modal__img">   

        





        <div class="header-modal__hellow">
       <h2 class="header-modal__title">Привіт!</h2>
       <p class="header-modal__text">Ви потрапили на сайт інтерактивних ігор та завдань</p>
       <p class="header-modal__text">Надіємось, що вам сподобається і ви отримаєте позитивні емоції!</p>   
       <p class="header-modal__text">Бажаємо Вам гарно провести час!</p>
    </div>


    <div class="header-modal__form">
                <p class="header-modal__label">Введіть своє ім'я:</p>
                <input type="text" class="header-modal__input" placeholder="Ваше ім'я...">
                <button type="button" class="header-modal__btn">Зберегти</button>
            </div>

            <div class="header-modal__box">
            <img src="./img/sword.png" alt="sword" class="header-modal__decoret header-modal__decoret--top-left">
            <img src="./img/game-development.png" alt="game-development" class="header-modal__decoret header-modal__decoret--top-right">
            <img src="./img/puzzle.png" alt="puzzle" class="header-modal__decoret header-modal__decoret--bottom-left">
            <img src="./img/tic-tac-toe.png" alt="tic-tac" class="header-modal__decoret header-modal__decoret--bottom-right">
            </div>



        </div>
    </section>
