
<section class="header">


<div class="container">
    <a href="" class="header__link">
        <img src="./img/logo.png" alt="" class="header__logo">
        <ul class="header__list">
            <img src="./img/coding-magic.png" alt="coding-magic " class="header__img-coding-magic">
            <!-- <p class="header__coding">Coding</p>
            <p class="header__magic">Magic</p> -->
        </ul>
    </a>

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__item"><a href="#" class="link theme-text">Інтерактив ▼</a></li>
            <li class="nav__item"><a href="#" class="link theme-text">Наша команда</a></li>
            <li class="nav__item"><a href="#" class="link theme-text">Контакти</a></li>
        </ul>
    </nav>

    <div class="hellow">
        <input class="hellow__input" type="checkbox" name="btn" id="hellow__btn">
        <label class="hellow__label" for="hellow__btn">
            <img class="hellow__sun" src="./img/sun.png" alt="">
            <img class="hellow__monthn" src="./img/month.png" alt="">
        </label>
        <p class="hellow__text theme-text">Вітаємо, <span class="hellow__span theme-text">User!</span></p>
    </div>

        

</div>


</section>
