
<section class="ourteam-section">
    <div class="container">
  <h2 class="ourteam-title theme-text">Наша команда</h2>
  <div class="slider">
    <div class="arrow" id="prev">⬅</div>
    <div class="slides" id="slides">
      <div class="slide">
        <img src="../img/illia.png" alt="Розробник" />
        <h3>Illia Krasovskiy</h3>
      </div>
      <div class="slide">
        <img src="../img/kamcukonovich.png" alt="Розробник" />
        <h3>Arsenii Vdovychenko</h3>
      </div>
      <div class="slide">
        <img src="../img/nazar.png" alt="Тім лід, розробник" />
         <h3>Nazar Bekerskii</h3>
      </div>
      <div class="slide">
        <img src="../img/nikita.png" alt="Розробник" />
        <h3>Nikita Prohorenko</h3>
      </div>
    </div>
    <div class="arrow" id="next">➡</div>
  </div>
  </div>
</section>
