
<section class="paper">
    <div class="container">
        <h2 class="paper__title theme-text">Камінь - ножиці - папір</h2>

     <div class="paper__content">
    <div class="paper__box">
        <img src="./img/stone.png" alt="stone" id="stone" data-choice="stone" class="paper__img">
        <img src="./img/scissors.png" alt="scissors" id="scissors" data-choice="scissors" class="paper__img">
        <img src="./img/paper.png" alt="paper" id="paper" data-choice="paper" class="paper__img">
    </div>

    <div class="paper__score">
        <p class="paper__text theme-text">Рахунок:</p>
        <p class="paper__text theme-text" data-score="computer">Комп’ютер - 0</p>
        <p class="paper__text theme-text" data-score="player">Ви - 0</p>
    </div>
</div>
        
        <p class="paper__win" >Ви виграли раунд!</p>
        
        <button type="button" class="paper__button " >Варіант комп’ютера</button>


    </div>
</section>
