
<section class="years">
    <div class="container">
    <h2 class="years__title theme-text">Перевір в який рік ти народився</h2>
 <div class="years__box">

    <div class="years__input-wrap">
        <input
            type="text"
            placeholder="Введіть рік народження"
            class="years__input"
        >
        <button class="years__btn" type="button">
            <img src="./img/find.svg" alt="">
        </button>
    </div>

    <p class="years__text" >Ви народилися у високосний рік!</p>

</div>
    </div>
</section>
